# Contains the configuration for the whole server
# Dont set secrets, passwords, api_keys etc. in this file. Use '.env' file for that

maxProcess = 12 # Max number of cpu process to be used by go runtime
gwDBRetention = 0
routerDBRetention = 0
enableProcessor = true
enableRouter = true

[Gateway]
webPort = 8080
maxDBWriterProcess = 4
CustomVal = "GW"
maxBatchSize = 32
batchTimeoutInMS = 20
respMessage = "OK"


[JobsDB]
# Migration related parameters
jobDoneMigrateThres = 0.8
jobStatusMigrateThres = 5
maxDSSize = 100000
maxMigrateOnce = 10
mainCheckSleepDurationInS = 2
backupCheckSleepDurationIns = 5

[Router]
jobQueryBatchSize = 10000
updateStatusBatchSize = 1000
readSleepInMS = 10
noOfWorkers = 8
noOfJobsPerChannel = 1000
ser = 3
maxSleepInS = 60
minSleepInS = 0
maxStatusUpdateWaitInS = 5
randomWorkerAssign = false
useTestSink = true
maxFailedCountForJob = 8
keepOrderOnFailure = true

[Processor]
loopSleepInMS = 10
dbReadBatchSize = 10000
transformBatchSize = 10
sessionThresholdEvents = 20
sessionThresholdInS = 10
maxChanSize = 2048
processSessions = true
numTransformWorker = 8
maxRetry = 3
retrySleepInMS = 100

[Aws]
region = "us-east-1"
backupDSBucket = "dump-gateway-ds-test"
