openapi: 3.1.0
info:
  title: RudderStack HTTP API 
  description: API for sending your events if you cannot use the SDKs.
  version: 1.0.0
servers:
  - url: https://api.rudderstack.com/v1
paths:
  /identify:
    post:
      summary: Identify a user
      description: Associates a visiting user to their actions and records any associated traits.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                userId:
                  type: string
                  description: Unique identifier for a particular user in your database.
                  example: "identified user id"
                anonymousId:
                  type: string
                  description: Sets the user ID for cases where there is no unique identifier for the user. Either userId or anonymousId is required.
                  example: "anon-id-new"
                context:
                  type: object
                  description: Dictionary of information that provides context about a message.
                  properties:
                    ip:
                      type: string
                      format: ipv4
                      description: User's IP address.
                      example: "14.5.67.21"
                    library:
                      type: object
                      description: Information about the library sending the event.
                      properties:
                        name:
                          type: string
                          description: Name of the library.
                          example: "http"
                    traits:
                      type: object
                      description: Dictionary of the traits associated with the user, such as name or email.
                      properties:
                        trait1:
                          type: string
                          description: Trait 1.
                          example: "new-val"
                timestamp:
                  type: string
                  format: date-time
                  description: The timestamp of the message's arrival.
                  example: "2020-02-02T00:23:09.544Z"
      responses:
        200:
          description: Successful response
        400:
          description: Invalid request
