CONFIG_PATH=./config.toml
JOBS_DB_HOST=localhost
JOBS_DB_USER=user_name
JOBS_DB_PORT=5432
JOBS_DB_DB_NAME=jobsdb
JOBS_DB_PASSWORD=password

DEST_TRANSFORM_URL=http://localhost:9090
USER_TRANSFORM_URL=http://localhost:9191
TEST_SINK_URL=http://localhost:8181
PGPASSWORD=password
