{{ if .config.GetBoolVar false "PgNotifier.enableLz4Compression" }}
  DO $$
  BEGIN
    -- Check if the payload column in pg_notifier_queue table doesn't already have LZ4 compression
    IF EXISTS (
      SELECT 1 FROM pg_attribute a
      JOIN pg_class c ON a.attrelid = c.oid
      WHERE c.relname = 'pg_notifier_queue'
        AND a.attname = 'payload'
        AND a.attcompression != 'l'  -- 'l' indicates LZ4 compression
        AND a.attnum > 0            -- Exclude system columns
        AND NOT a.attisdropped      -- Exclude dropped columns
    ) THEN
      -- Apply LZ4 compression to the payload column
      ALTER TABLE pg_notifier_queue ALTER COLUMN payload SET COMPRESSION lz4;
      RAISE NOTICE 'LZ4 compression enabled for column "payload" in table "pg_notifier_queue".';
    ELSE
      RAISE NOTICE 'LZ4 compression already enabled for column "payload" in table "pg_notifier_queue".';
    END IF;
  END $$;
{{ end }}
