{{ if .config.GetBoolVar false "Warehouse.populateTableLevelSchema" }}
  INSERT INTO wh_schemas (
    source_id,
    namespace,
    destination_id,
    destination_type,
    schema,
    table_name,
    created_at,
    updated_at,
    expires_at
  )
  SELECT
    s.source_id,
    s.namespace,
    s.destination_id,
    s.destination_type,
    j.value AS schema,
    j.key AS table_name,
    s.created_at,
    s.updated_at,
    s.expires_at
  FROM wh_schemas s
  CROSS JOIN LATERAL jsonb_each(s.schema) AS j
  WHERE s.table_name = ''
    AND NOT EXISTS (
      SELECT 1 FROM wh_schemas s2
      WHERE s2.source_id = s.source_id
        AND s2.namespace = s.namespace
        AND s2.destination_id = s.destination_id
        AND s2.table_name = j.key
    );
{{ end }}
