maxProcess: 12
gwDBRetentionInHr: 0
routerDBRetention: 0
enableProcessor: true
enableRouter: true
enableStats: true
statsTagsFormat: influxdb
Http:
  ReadTimeOutInSec: 0
  ReadHeaderTimeoutInSec: 0
  WriteTimeOutInSec: 10
  IdleTimeoutInSec: 720
  MaxHeaderBytes: 524288
RateLimit:
  eventLimit: 1000
  rateLimitWindowInMins: 60
  noOfBucketsInWindow: 12
Gateway:
  webPort: 8080
  maxUserWebRequestWorkerProcess: 64
  maxDBWriterProcess: 256
  CustomVal: GW
  maxUserRequestBatchSize: 128
  maxDBBatchSize: 128
  userWebRequestBatchTimeoutInMS: 15
  dbBatchWriteTimeoutInMS: 5
  maxReqSizeInKB: 4000
  enableRateLimit: false
  enableSuppressUserFeature: true
  allowPartialWriteWithErrors: true
  allowReqsWithoutUserIDAndAnonymousID: false
  webhook:
    batchTimeoutInMS: 20
    maxBatchSize: 32
    maxTransformerProcess: 64
    maxRetry: 5
    maxRetryTimeInS: 10
EventSchemas:
  enableEventSchemasFeature: false
  syncIntervalInS: 120
  noOfWorkers: 128
Debugger:
  maxBatchSize: 32
  maxESQueueSize: 1024
  maxRetry: 3
  batchTimeoutInS: 2
  retrySleepInMS: 100
SourceDebugger:
  disableEventUploads: false
DestinationDebugger:
  disableEventDeliveryStatusUploads: false
TransformationDebugger:
  disableTransformationStatusUploads: false
Archiver:
  backupRowsBatchSize: 100
JobsDB:
  jobDoneMigrateThres: 0.8
  jobStatusMigrateThres: 5
  maxDSSize: 100000
  maxMigrateOnce: 10
  maxMigrateDSProbe: 10
  maxTableSizeInMB: 300
  migrateDSLoopSleepDurationInS: 30
  addNewDSLoopSleepDurationInS: 5
  refreshDSListLoopSleepDurationInS: 5
  backupCheckSleepDurationIns: 5
  backupRowsBatchSize: 1000
  archivalTimeInDays: 10
  archiverTickerTimeInMin: 1440
  backup:
    enabled: true
    gw:
      enabled: true
      pathPrefix: ""
    rt:
      enabled: true
      failedOnly: true
    batch_rt:
      enabled: false
      failedOnly: false
Router:
  jobQueryBatchSize: 10000
  updateStatusBatchSize: 1000
  readSleepInMS: 1000
  fixedLoopSleepInMS: 0
  noOfJobsPerChannel: 1000
  noOfJobsToBatchInAWorker: 20
  jobsBatchTimeoutInSec: 5
  maxSleepInS: 60
  minSleepInS: 0
  maxStatusUpdateWaitInS: 5
  useTestSink: false
  guaranteeUserEventOrder: true
  kafkaWriteTimeoutInSec: 2
  kafkaDialTimeoutInSec: 10
  minRetryBackoffInS: 10
  maxRetryBackoffInS: 300
  noOfWorkers: 64
  allowAbortedUserJobsCountForProcessing: 1
  maxFailedCountForJob: 3
  retryTimeWindowInMins: 180
  MARKETO:
    noOfWorkers: 4
  throttler:
    MARKETO:
      limit: 45
      timeWindowInS: 20
  BRAZE:
    forceHTTP1: true
    httpTimeoutInS: 120
    httpMaxIdleConnsPerHost: 32
BatchRouter:
  mainLoopSleepInS: 2
  jobQueryBatchSize: 100000
  uploadFreqInS: 30
  warehouseServiceMaxRetryTimeinHr: 3
  noOfWorkers: 8
  maxFailedCountForJob: 128
  retryTimeWindowInMins: 180
Warehouse:
  mode: embedded
  webPort: 8082
  uploadFreqInS: 1800
  noOfWorkers: 8
  noOfSlaveWorkerRoutines: 4
  mainLoopSleepInS: 5
  minRetryAttempts: 3
  retryTimeWindowInMins: 180
  minUploadBackoffInS: 60
  maxUploadBackoffInS: 1800
  warehouseSyncPreFetchCount: 10
  warehouseSyncFreqIgnore: false
  stagingFilesBatchSize: 960
  enableIDResolution: false
  populateHistoricIdentities: false
  redshift:
    maxParallelLoads: 3
    setVarCharMax: false
  snowflake:
    maxParallelLoads: 3
  bigquery:
    maxParallelLoads: 20
  postgres:
    maxParallelLoads: 3
  mssql:
    maxParallelLoads: 3
  azure_synapse:
    maxParallelLoads: 3
  clickhouse:
    maxParallelLoads: 3
    queryDebugLogs: false
    blockSize: 1000
    poolSize: 10
    disableNullable: false
    enableArraySupport: false
Processor:
  webPort: 8086
  loopSleepInMS: 10
  maxLoopSleepInMS: 5000
  fixedLoopSleepInMS: 0
  maxLoopProcessEvents: 10000
  avgEventsInRequest: 1
  transformBatchSize: 100
  userTransformBatchSize: 200
  maxChanSize: 2048
  numTransformWorker: 8
  maxRetry: 30
  retrySleepInMS: 100
  errReadLoopSleepInS: 30
  errDBReadBatchSize: 1000
  noOfErrStashWorkers: 2
  maxFailedCountForErrJob: 3
  Stats:
    captureEventName: false
Dedup:
  enableDedup: false
  dedupWindowInS: 3600
BackendConfig:
  configFromFile: false
  configJSONPath: /etc/rudderstack/workspaceConfig.json
  pollIntervalInS: 5
  regulationsPollIntervalInS: 300
  maxRegulationsPerRequest: 1000
recovery:
  enabled: true
  errorStorePath: /tmp/error_store.json
  storagePath: /tmp/recovery_data.json
  normal:
    crashThreshold: 5
    durationInS: 300
Logger:
  enableConsole: true
  enableFile: false
  consoleJsonFormat: false
  fileJsonFormat: false
  logFileLocation: /tmp/rudder_log.log
  logFileSize: 100
  enableTimestamp: true
  enableFileNameInLog: true
  enableStackTrace: false
Diagnostics:
  enableDiagnostics: true
  gatewayTimePeriodInS: 60
  routerTimePeriodInS: 60
  batchRouterTimePeriod: 6l
  enableServerStartMetric: true
  enableConfigIdentifyMetric: true
  enableServerStartedMetric: true
  enableConfigProcessedMetric: true
  enableGatewayMetric: true
  enableRouterMetric: true
  enableBatchRouterMetric: true
  enableDestinationFailuresMetric: true
RuntimeStats:
  enabled: true
  statsCollectionInterval: 10
  enableCPUStats: true
  enableMemStats: true
  enableGCStats: true
PgNotifier:
  retriggerIntervalInS: 2
  retriggerCount: 500
  trackBatchIntervalInS: 2
  maxAttempt: 3
