[Unit]
Description = Setting up Rudder Server
After = network.target

[Service]
WorkingDirectory = /home/ubuntu/rudder-server
Restart = on-failure
RestartSec = 3s
StartLimitInterval = 0
ExecStart = /home/ubuntu/rudder-server/rudder-server
StandardOutput = syslog
StandardError = syslog
SyslogIdentifier = rudder
User = ubuntu
LimitNOFILE=11000000
Environment=CGO_CFLAGS="-I/usr/local/include"
Environment=CGO_LDFLAGS="-L/usr/local/lib -lrocksdb -lstdc++ -lm -lz -lbz2 -lsnappy -llz4 -lzstd"

[Install]
WantedBy = multi-user.target
