-- Initial version of JobsDB tables, based on template data provided by each JobsDB instance
-- Check jobsdb/setup.go for all available template data.

-- Journals table
CREATE TABLE IF NOT EXISTS {{.Prefix}}_journal (
    id BIGSERIAL PRIMARY KEY,
    operation VARCHAR(32) NOT NULL,
    done BOOLEAN,
    operation_payload JSONB NOT NULL,
    start_time TIMESTAMP NOT NULL,
    end_time TIMESTAMP);

-- Job state type, used by jobs tables
DO $$ BEGIN
    CREATE TYPE job_state_type
        AS ENUM(
                'waiting',
                'executing',
                'succeeded',
                'waiting_retry',
                'failed',
                'aborted');
    EXCEPTION
        WHEN duplicate_object THEN null;
END $$;

-- Dataset tables are not created directly by migration scripts, the are created via JobsDB's createDS function instead.
-- The query used in createDS must always create the dataset tables using the latest schema version.
-- Version updates for existing dataset tables can be defined, using template data key 'Datasets' to iterate existing dataset indices.
-- This is an example of a dataset migration script, using migration templates:
--
-- {{range .Datasets}}
--     ALTER TABLE "{{$.Prefix}}_jobs_{{.}}" ADD COLUMN new_column TEXT;
--     ALTER TABLE "{{$.Prefix}}_job_status_{{.}}" ADD COLUMN new_column TEXT;
-- {{end}}