-- Reader Journals table
CREATE TABLE IF NOT EXISTS {{.Prefix}}_reader_journal (
    id BIGSERIAL PRIMARY KEY,
    operation VARCHAR(32) NOT NULL,
    done BOOLEAN,
    operation_payload JSONB NOT NULL,
    start_time TIMESTAMP NOT NULL,
    end_time TIMESTAMP);
    
-- Writer Journals table
CREATE TABLE IF NOT EXISTS {{.Prefix}}_writer_journal (
    id BIGSERIAL PRIMARY KEY,
    operation VARCHAR(32) NOT NULL,
    done BOOLEAN,
    operation_payload JSONB NOT NULL,
    start_time TIMESTAMP NOT NULL,
    end_time TIMESTAMP);