name: builds

on:
  release:
    types: [ created ]
  push:
    branches:
      - master
      - main
  pull_request:
concurrency:
  group: ${{ github.workflow }}-${{ github.head_ref || github.sha }}
  cancel-in-progress: true
permissions:
  id-token: write # allows the JWT to be requested from GitHub's OIDC provider
  contents: read  # This is required for actions/checkout
env:
  arch_amd64: amd64
  arch_arm64: arm64
  develop_oss_image: |
    rudderlabs/develop-rudder-server
  oss_image: rudderlabs/rudder-server,enable=${{ github.ref == format('refs/heads/{0}', 'master') || github.event_name == 'release' }}
  docker_oss_tags: |
    type=ref,event=branch
    type=raw,value=1-alpine,enable=${{ github.event_name == 'release' && !github.event.release.prerelease }}
    type=raw,value=latest,enable=${{ github.event_name == 'release' && !github.event.release.prerelease }}
    type=raw,value=pr-${{ github.event.pull_request.number }},enable=${{ github.event_name == 'pull_request' }}
    type=semver,pattern={{version}}
    type=semver,pattern={{major}}.{{minor}}
    type=semver,pattern={{major}}
  develop_ent_image: |
    rudderstack/develop-rudder-server-enterprise
  ent_image: rudderstack/rudder-server-enterprise,enable=${{ github.ref == format('refs/heads/{0}', 'master') || github.event_name == 'release' }}
  docker_ent_tags: |
    type=ref,event=branch
    type=raw,value=latest,enable=${{ github.event_name == 'release' }}
    type=raw,value=pr-${{ github.event.pull_request.number }},enable=${{ github.event_name == 'pull_request' }}
    type=raw,value=pr-${{ github.event.pull_request.number }}-race,enable=${{ github.event_name == 'pull_request' }}
    type=semver,pattern={{version}}
    type=semver,pattern={{version}}-race
    type=semver,pattern={{major}}.{{minor}}
    type=semver,pattern={{major}}.{{minor}}-race
    type=semver,pattern={{major}}
  develop_sbsvc_image: |
    rudderstack/develop-suppression-backup-service
  sbsvc_image: rudderstack/suppression-backup-service,enable=${{ github.ref == format('refs/heads/{0}', 'master') || github.event_name == 'release' }}
  docker_sbsvc_tags: |
    type=ref,event=branch
    type=raw,value=latest,enable=${{ github.event_name == 'release' }}
    type=raw,value=pr-${{ github.event.pull_request.number }},enable=${{ github.event_name == 'pull_request' }}
    type=semver,pattern={{version}}
    type=semver,pattern={{major}}.{{minor}}
    type=semver,pattern={{major}}

jobs:
  oss:
    uses: ./.github/workflows/docker-build-dockerhub.yml
    with:
      image_names: |
        ${{ toJSON(fromJSON(format('[ "{0}", "{1}" ]', env.oss_image, env.develop_oss_image))) }}
      dockerfile: Dockerfile
      tags: |
        ${{ env.docker_oss_tags }}
    secrets:
      DOCKERHUB_USERNAME: ${{ secrets.DOCKERHUB_USERNAME }}
      DOCKERHUB_TOKEN: ${{ secrets.DOCKERHUB_TOKEN }}

  enterprise-dockerhub:
    uses: ./.github/workflows/docker-build-dockerhub.yml
    with:
      image_names: |
        ${{ toJSON(fromJSON(format('[ "{0}", "{1}" ]', env.ent_image, env.develop_ent_image))) }}
      dockerfile: Dockerfile
      tags: ${{ env.docker_ent_tags }}
    secrets:
      DOCKERHUB_USERNAME: ${{ secrets.DOCKERHUB_USERNAME }}
      DOCKERHUB_TOKEN: ${{ secrets.DOCKERHUB_TOKEN }}

  enterprise-ecr:
    uses: ./.github/workflows/docker-build-ecr.yml
    with:
      image_names: |
        ${{ toJSON(fromJSON(format('[ "{0}", "{1}" ]', env.ent_image, env.develop_ent_image))) }}
      tags: ${{ env.docker_ent_tags }}
      dockerfile: Dockerfile
      aws_ecr_iam_role_arn: ${{ vars.AWS_ECR_IAM_ROLE_ARN }}
      aws_ecr_region: ${{ vars.AWS_ECR_REGION }}

  sbsvc-dockerhub:
    uses: ./.github/workflows/docker-build-dockerhub.yml
    with:
      image_names: |
        ${{ toJSON(fromJSON(format('[ "{0}", "{1}" ]', env.sbsvc_image, env.develop_sbsvc_image))) }}
      dockerfile: ./suppression-backup-service/Dockerfile
      tags: ${{ env.docker_sbsvc_tags }}
    secrets:
      DOCKERHUB_USERNAME: ${{ secrets.DOCKERHUB_USERNAME }}
      DOCKERHUB_TOKEN: ${{ secrets.DOCKERHUB_TOKEN }}

  sbsvc-ecr:
    uses: ./.github/workflows/docker-build-ecr.yml
    with:
      image_names: |
        ${{ toJSON(fromJSON(format('[ "{0}", "{1}" ]', env.sbsvc_image, env.develop_sbsvc_image))) }}
      tags: ${{ env.docker_sbsvc_tags }}
      dockerfile: ./suppression-backup-service/Dockerfile
      aws_ecr_iam_role_arn: ${{ vars.AWS_ECR_IAM_ROLE_ARN }}
      aws_ecr_region: ${{ vars.AWS_ECR_REGION }}
