name: Dispatch deploy event

on: workflow_dispatch

permissions:
  contents: read # Required for basic repository access

jobs:
  dispatch:
    runs-on: ubuntu-latest

    steps:
      - name: Harden the runner (Audit all outbound calls)
        uses: step-security/harden-runner@f4a75cfd619ee5ce8d5b864b0d183aff3c69b55a # v2.13.1
        with:
          egress-policy: audit

      - name: Repository dispatch
        uses: peter-evans/repository-dispatch@28959ce8df70de7be546dd1250a005dd32156697 # v4.0.1
        with:
          token: "${{ secrets.PAT }}"
          repository: rudderlabs/rudder-devops
          event-type: deploy-event
          client-payload: |
            {
              "repo": "${{ github.repository }}",
              "commit-sha": "${{ github.sha }}",
              "images": {
                "server": {
                  "tag": "${{ github.ref_name }}"
                },
                "gateway": {
                  "tag": "${{ github.ref_name }}"
                },
                "warehouse-master": {
                  "tag": "${{ github.ref_name }}"
                },
                "warehouse-slave": {
                  "tag": "${{ github.ref_name }}"
                }
              },
              "value-paths": []
            }
