on:
  pull_request:
  push:
    branches:
      - "prerelease/*"
name: prerelease
jobs:
  prerelease:
    runs-on: ubuntu-latest
    steps:
      - name: Extract branch name
        shell: bash
        run: echo "branch=$(echo "${{ github.ref_name }}")"
        id: extract_branch
      - uses: google-github-actions/release-please-action@v3
        if: github.event_name != 'pull_request'
        with:
          token: ${{ secrets.PAT }}
          pull-request-title-pattern: "chore: prerelease ${version}"
          release-type: go
          package-name: rudder-server
          default-branch: ${{ steps.extract_branch.outputs.branch }}
          changelog-types: '
            [
            {
            "type": "feat",
            "section": "Features",
            "hidden": false
            },
            {
            "type": "fix",
            "section": "Bug Fixes",
            "hidden": false
            },
            {
            "type": "chore",
            "section":"Miscellaneous",
            "hidden": false},
            {
            "type": "refactor",
            "section": "Miscellaneous",
            "hidden": false
            },
            {
            "type": "test",
            "section": "Miscellaneous",
            "hidden": false
            },
            {
            "type": "doc",
            "section": "Documentation",
            "hidden": false
            }
            ]'
          prerelease: true
          release-as: ${{ steps.extract_branch.outputs.branch }}
      - name: Extract prerelease version
        id: extract_version
        shell: bash
        run: echo "version=$(echo "${{ steps.extract_branch.outputs.branch }}" | cut -d'/' -f2)" >> $GITHUB_OUTPUT
      - name: Trigger dispatch event
        uses: peter-evans/repository-dispatch@v3
        with:
          token: "${{ secrets.PAT }}"
          repository: rudderlabs/rudder-devops
          event-type: release-server-hosted
          client-payload: |
            {
                "version": "${{ steps.extract_version.outputs.version }}"
              }
            }
