name: Tests
on:
  push:
    branches:
      - master
      - main
  pull_request:
jobs:
  integration:
    name: Service Integration
    runs-on: 'ubuntu-18.04'

    steps:
    - uses: actions/checkout@v2
    - uses: actions/setup-go@v2
      with:
        go-version: '^1.16.4'
    - uses: actions/cache@v2
      with:
        path: |
          ~/.cache/go-build
          ~/go/pkg/mod
        key: ${{ runner.os }}-go-${{ hashFiles('**/go.sum') }}
        restore-keys: |
          ${{ runner.os }}-go-
    - run: go version
    - run: go mod download # Not required, used to segregate module download vs test times
    - run: make enterprise-init
    - run: go test -v ./docker_test.go -integration -count 1
  unit:
    name: Unit & Component Integration
    runs-on: 'ubuntu-18.04'

    steps:
    - uses: actions/checkout@v2
    - uses: actions/setup-go@v2
      with:
        go-version: '^1.16.4'
    - uses: actions/cache@v2
      with:
        path: |
          ~/.cache/go-build
          ~/go/pkg/mod
        key: ${{ runner.os }}-go-${{ hashFiles('**/go.sum') }}
        restore-keys: |
          ${{ runner.os }}-go-
    - run: go version
    - run: go mod download # Not required, used to segregate module download vs test times
    - run: (cd /tmp && go get -u github.com/onsi/ginkgo/ginkgo@v1.16.4)
    - run: make enterprise-init
    - run: make test
