name: Service Integration Test
on:
  push:
    branches:
      - master
      - main
  pull_request:
jobs:
  test:
    name: tests
    runs-on: 'ubuntu-18.04'

    steps:
    - uses: actions/checkout@v2
    - uses: actions/setup-go@v2
      with:
        go-version: '^1.17.0'
    - run: go version
    - run: go test -v ./docker_test.go -integration -count 1

